<!DOCTYPE html>
<html lang="en">

<head id="headId">
</head>

<body>
<div id="canvas" class="canvas">

    <div id="logoutButtonHolder">
        <p id="welcomeMessage">Welcome<span id="user"></span></p>
        <span id="message"></span>
        <form id="logoutForm" action="/logout" method="get"></form>
        <button id="logout">Logout</button>
    </div>

    <div class="heading-holder">
        <h1>Shopping</h1>
        <h3>List</h3>
    </div>

    <div id="itemFormHolder" class="form-holder">

        <form id="itemform" class="form-formatter">

            <input id="itemname" type="text" placeholder="Item" minlength="3" maxlength="30" required>

            <div id="selectholder" class="form-formatter select-holder">
                <select id="itemquantity" class="select-style">
                    <option value="">Quantity</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span class="arrow">&#x25BC;</span>
            </div>

            <button type="submit">Add</button>
        </form>
    </div>

    <div id="items" class="shopping-items-holder">

    </div>

</div>

<script src="../js/home.js"></script>
</body>

</html>