<!DOCTYPE html>
<html lang="en">
<head id="headId">
</head>
<body>
<div id="canvas" class="canvas">

    <div class="heading-holder">
        <h1>Shopping</h1>
        <h3>List</h3>
    </div>

    <div id="loginFormHolder" class="login-form-holder">
        <form id="loginForm" class="form-basic" action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
        </form>
        <div id="buttonHolder" class="button-holder">
            <button id="login">Login</button>
            <button id="register">Register</button>
        </div>
    </div>

</div>

<script src="../js/login.js"></script>
</body>
</html>